body {
  background-color: #474747;
}

::-webkit-scrollbar {
  display: none;
}

#canvasTitle {
  font-family: sans-serif;
  font-size: 40px;
  color: white;
}

#sortingList {
  height: 30px;
  background-color: grey;
  border: none;
  position: relative;
  font-family: monospace;
  font-size: 20px;
  cursor: pointer;
}

#controlsContainer select {
  color: white;
  border: none;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

#controlsContainer select option:hover {
  background-color: green;
  border: none;
}

.buttons {
  width: 120px;
  height: 30px;
  border: none;
  background-color: grey;
  color: white;
  margin: 2px 2px;
  cursor: pointer;
  font-size: 20px;
  font-family: monospace;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 15%;
  height: 20px;
  border-radius: 5px;
  outline: none;
  background: #d3d3d3;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #f05e23;
}
